@{
    Html.AddTitle("About");
}

@(await Html.PartialAsync("Partials/_CompanyPageTitle", "About"))

<div class="container container-p-y">
    <div class="card">
        <div class="card-body">
            <p><span class="font-weight-semibold">Last updated:</span> Monday, July 20th, 2020</p>
            <h3>About Neimart</h3>
            <p>In 2018, an estimated 1.8 billion people worldwide purchased goods online (Statista, 2018). In the same year, global e-retail sales amounted to $2.8 trillion. If that isn&rsquo;t enough to blow you away, projections show that global e-retail sales are going to grow to up to $4.8 trillion by 2021.&nbsp;</p>
            <p><h3>Our Mission</h3>&nbsp;To develop world-class innovative e-commerce platform through open source technology. Together with our community, we provide easy and accessible platform that requires low or no tech knowledge to create your first online retail business.&nbsp;</p>
            <p><h3>Our Vision</h3>&nbsp;To create a&nbsp;<span class="bg-primary text-white">Nei</span>ghborhood&nbsp;<span class="bg-primary text-white">Mar</span>ketplace&nbsp;<span class="bg-primary text-white">T</span>rading platform to foster e-retail and help grow 2million business online.</p>
            <p>Neimart is a subsidiary of&nbsp;<strong>GritcomIS</strong>.&nbsp;&nbsp;A premiere computer and network specialist providing on-call network administration, digital solutions, managed IT, and outsourced (CTO/CIO) services throughout the corridors of Africa.&nbsp;</p>
            <p>We offer maximum availability, minimum geek speaks, and a common sense yet most creative and innovative approach to keeping your business running at optimum efficiency.</p>
        </div>
    </div>
</div>