@model ProblemDetails
@{
    var theme = await Context.GetThemeAsync();

    Layout = theme.Layout;

    Html.AddTitle($"{Model.Title}");

    if (Model.Status == null)
    {
        ViewData["ShowLayoutHeader"] = false;
        ViewData["ShowLayoutFooter"] = false;
    }
}

<div class="text-center py-4 my-5">
    <div class="container py-5 my-5">
        <div class="row justify-content-center text-center pb-5">
            <div class="col-lg-8">
                <div class="mb-3"><i class="fad fa-exclamation-triangle fa-5x text-primary"></i></div>
                <h1 class="display-4">@(Model.Title)</h1>
                <p>@(Model.Detail)</p>
                <div><a class="btn btn-default" href="@(theme.HomeUrl)">Back to home</a></div>
            </div>
        </div>
    </div>
</div>